:root {
  --slidev-theme-primary: #325AB4;
}

.slidev-layout {
  @apply pt-16;

  &.intro,
  &.fact,
  &.statement,
  &.quote,
  &.section {
    h1 + p {
      @apply -mt-2 opacity-50 mb-4;
    }
  }

  p + h2, ul + h2, table + h2 {
    @apply mt-10;
  }
  
  h1 {
    color: var(--slidev-theme-primary);
    @apply text-3xl mb-4 -ml-[0.05em];
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-xl;
  }

  h4 {
    @apply text-l;
  }

  h5 {
    @apply text-base;
  }

  h6 {
    @apply text-sm pt-1 uppercase tracking-widest font-500 -ml-[0.05em];
  }

  h6:not(.opacity-100) {
    @apply opacity-40;
  }

  .slide-number {
    @apply text-xs text-gray-400;
    position: absolute;
    right: 24px;
    bottom: 20px;
  }

  .logo {
    position: absolute;
    left: 32px;
    top: 20px;
    width: 160px;
  }

  .icon-bg {
    position: absolute;
    color: #678094;
    opacity: 15%;
    z-index: -1;
    top: 20%;
    left: 20%;
    width: 60%;
    height: 60%;
  }
}

.slidev-layout.cover {
  h1 {
    @apply text-4xl mt-4 mb-6;
  }
}

.slidev-layout.intro {
  @apply h-full grid;

  h1 {
    @apply text-4xl leading-20;
  }
}

.slidev-layout.fact {
  @apply text-center grid h-full;
  h1 {
    @apply text-8xl font-700;
  }
  h1 + p {
    @apply font-700 text-2xl;
  }
}

.slidev-layout.statement {
  @apply text-center grid h-full;

  h1 {
    @apply text-6xl font-700;
  }
}

.slidev-layout.quote {
  @apply grid h-full;

  h1 + p {
    @apply mt-2;
  }
}

.slidev-layout.section {
  h1 {
    @apply text-6xl font-500 leading-20;
  }
}

